# PyCharm
.DS_Store
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Data file
words_clean.txt

# Unit test / coverage reports
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache
